html, body {
  background: white;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.all {
  height: 100%;
  background-color: #f1f1f1;
}

.contentSubheading {
  font-size: 24px;
}

.contentTitle {
  font-size: 32px;
}

.allButtons {
  width: auto;
  height: auto;
  color: #ffffff;
  background-color: #ff9400;
  border: solid 1px;
  border-radius: 4px;
  border-color: #ffffff;
  cursor: pointer;
  padding: 5px;
}

.applyButton {
  width: auto;
  min-width: 175px;
  height: auto;
  color: #ffffff;
  background-color: #ff9400;
  border: solid 1px;
  border-radius: 4px;
  border-color: #ffffff;
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
}

.limitWideButtons {
  max-width: 200px;
}

.centerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.centerContentGrid {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}

.centerContentGrid2 {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 30px;
  justify-content:space-evenly;
  align-items: center;
}

.centerContentGridLeft {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  justify-content: left;
  align-items: center;
}

.sideContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightContent {
  display: flex;
  justify-content: right;
  align-items:right;
}

.leftContent {
  display: grid;
  gap: 5px;
  justify-content: left;
  align-items:left;
}

.coloredContent{
  width: 100%;
  padding: 10px;
  background-color: #1b651b;
  color: #ffffff;
  text-align: center;
}

.top {
  height: 10%;
}

.pagefooter {
  background-color: #2b2f3a;
  color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.pagefooter p {
  text-align:justify;
}

.base {
  height: 90%;
  display: flex;
}

.left {
  flex: 1;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  border-color: white;
}

.accounts-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px 30px;
}
  
.our-card-top {
  position: relative;
}
  
.our-custom-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
}
  
.our-custom-input-interior {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  transform: translateY(-50%);
}

.genericButtons {
  background-color: #ff9400;
  color: white;
  min-width: 150px;
  cursor: pointer;
  border: white;
  border-radius: 8px;
}
/*--------------------------------------------Navigation---------------------------------------------flex-direction: column;*/
.topnav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
  gap: 30px;
  justify-content: space-between;

  padding: 10px;
  height: 100%;
  width: 100%;
  background-color: #1b651b;
  color:#ffffff;
  font-size: 24px;
  justify-content: space-between;
  align-items: center;
}

.topnavLeft {
  display: flex;
  gap: 20px;
  background-color: #1b651b;
  color: #ffffff;
  align-items: left;
}

.companyLink,
.topButtons,
.leftButtons {
  cursor: pointer;
  position: relative;
  min-width: 80px;
  align-items: center;
}

.logInButton{
  width: auto;
  max-width: 100px;
  color: #ffffff;
  background-color: #ff9400;
  border: solid 1px;
  border-radius: 4px;
  border-color: #ffffff;
  margin: 5px;
  padding: 4px 10px;
  cursor: pointer;
}

.logInButton label {
  cursor: pointer;
}

.leftButtons {
  display: flex;
  justify-content: left;
  height: auto;
  min-height: 40px;
  width: auto;
  align-items: center;
}

.topSection {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.navLink {
  color: white;
  flex: 3;
}

.horizontal_line {
  background-color: black;
  width: 100%;
  height: 2px;
  border-top: 2px solid;
  line-height: 80%;
}

.leftSection {
  font-size: 18px;
  height: 100%;
  width: 100%;
  padding: 10px 10px 1px 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(208, 204, 204);
}

.topnavRight {
  display: flex;
  gap: 5px;
  background-color: #1b651b;
  color: #ffffff;
  justify-content: right;
}

.topnavRightAdmin {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
  gap: 10px;
  background-color: #1b651b;
  color: #ffffff;
  justify-content: end;
}

.accountPickerWrapper {
  position: relative;
  min-width: 80px;
}

.accountPicker {
  background-color: #1b651b;
  color: #ffffff;
  padding: 10px;
  position: absolute;
  display: grid;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 150px;
  top: 50px;
  right: 20px;
  left: -60px;
  border-radius: 8px;
}

.counter {
  width: 20px;
  height: 20px;
  background-color: crimson;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -2px;
  right: 35px;
}

.base {
  display: flex;
  height: 100%;
}

.content {
  flex: 90%;
  height: 100%;
}

.top {
  height: 100%;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 1s ease-in-out;

  position: absolute;
  top: 50px;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

/*---------------------------------------Messages------------------------------------------calc(100vh - 70px)*/
.messages {
  height: 100vh;
  display: flex;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  background-color: #ffffff;
}

.chatMenu {
  flex: 3;
}

.chatBox {
  flex: 9;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatMenuWrapper,
.chatBoxWrapper {
  padding: 10px;
  height: 100%;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 90px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

/*----------------------------------------Conversation-----------------------------------*/
.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.conversation:hover {
  background-color: rgb(245, 243, 243);
}

.conversationImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.conversationName {
  font-weight: 500;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

/*------------------------------------Message-----------------------------------------*/
.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop{
  display: flex;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText{
  padding: 10px;
  border-radius: 20px;
  background-color: #1b651b;
  color: white;
  max-width: 300px;
}

.messageBottom{
  font-size: 12px;
  margin-top: 10px;
}

.message.own{
  align-items: flex-end;
}

.message.own .messageText{
  background-color: rgb(245, 241, 241);
  color: black;
}

/*-------------------------------------------------Projects List----------------------------------*/
.projectRequest,
.projects {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}

.projectRequestApplication {
  min-height: 100vh;
  height: auto;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
}

.projects-grid {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: column;
  column-gap: 30px;
}

.our-project-card-top {
  position: relative;
  cursor: pointer;
  height: 150px;
  width: 150px;
  padding: 10px;
}

.projectRequestForm {
  height: auto;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  text-align:left;
  margin: 0;
}

.projectRequestFormTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  width: auto;
}

.projectRequestFormBot{
  min-height: 500px;
  padding: 10px;
  border-radius: 8px;
  height: auto;
  width: 100%;
  max-width: 1500px;
}

.projectRequestTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

.eachStep {
  height: 100%;
  width: 100%;
  padding: 15px;
}

.locationWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.nextPageBtn {
  padding: 5px;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nextPageBtn div {
  flex: 6;
  display: flex;
  justify-content: center;
}

.adminRequestsTop,
.projectsTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

.adminRequestsTopBtn,
.projectsTopBtn,
.projectRequestMid {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 5px;
}

.projectRequestBtn {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.requiredLabel {
  display: flex;
}

.requiredAlert {
  color: crimson;
  font-size: 30px;
  font-weight: 400;
  padding: 5px;
}

.requests-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px 30px;
}

.requestData {
  width: 100%;
  min-width: 400px;
  height: auto;
  border-radius: 6px;
}

.requestDataTop {
  height: auto;
  max-height: 250px;
  width: auto;
}

.requestDataTop img{
  height: 100%;
}

.requestDataBot {
  padding: 10px;
}

/*-------------------------------------------------About----------------------------------------------*/
.about {
  min-height: 100vh;
  height: 100%;
  min-width: 400px;
  max-width: 1500px;
  padding: 15px;
  background-color: #ffffff;
}

.aboutTopic {
  min-height: 500px;
  width: auto;
}

.aboutTopic1 {
  min-height: 450px;
  background-image: url("/WebPhoto/About/employee-female.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  align-items:center;
  border-radius: 5px;
  padding: 10px;
}

.aboutTopic1 p {
  padding: 20px;
  text-align: center;
  width: 50%;
}

.aboutTopic2 {
  min-height: 500px;
  background-image: url("/WebPhoto/About/job-application-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 10px;
}

.aboutTopic2Content {
  display: flex;
  align-items:center;
  justify-content: center;
}

.aboutTopic2Content p {
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 50%;
  border-radius: 8px;
  opacity: 0.9;
}

.aboutTopic2Options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-column-gap: 20px;
  align-items: baseline;
}

.aboutTopic2Options div {
  max-height: 100px;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #1b651b;
  color: #ffffff;
  border-radius: 8px;
}

.aboutTopic3 {
  min-height: 600px;
  background-image: url("/WebPhoto/About/CVSU-Carmona.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
}

.aboutTopic3 p {
  background-color: white;
  padding: 20px;
  text-align: center;
  width: 50%;
  border-radius: 8px;
  opacity: 0.9;
}

.missionVissionContent {
  min-height: 300px;
  background-image: url("/WebPhoto/About/CVSU-logo.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 10px;
}

.missionVissionContent p {
  background-color: white;
  text-align: center;
  border-radius: 8px;
  opacity: 0.9;
}

.aboutDeveloper {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.aboutDeveloper img {
  min-height: 150px;
  max-height: 250px;
  min-width: 150px;
  max-width: 250px;
  border-radius: 50%;
  filter: brightness(60%);
}

.aboutDeveloper p {
  text-align: justify;
  text-justify: inter-word;
}

.aboutTitle {
  background-color: #1b651b;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  font-size: 24px;
}

.aboutContent {
  min-height: 75px;
  padding: 10px;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.missionVission {
  display: flex;
  gap: 20px;
}

.missionVission div{
  flex: 6;
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;
}
/*-------------------------------------------------Help----------------------------------------------*/
.help {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  background-color: #ffffff;
}

.help div {
  min-width: 450px;
  max-width: 100%;
}

.help button {
  width: 100%;
}

.helpTitle {
  cursor: pointer;
  padding: 15px;
  border: 1px;
  border-radius: 3px;
}

.helpContent {
  padding: 20px;
  width: 100%;
}

.helpContent div {
  display: flex;
  justify-content: center;
  text-align: justify;
  text-justify: inter-word;
}

.helpContent img {
  min-width: 400px;
  max-width: 100%;
}

.intextIcon {
  height: auto;
  width: 10px;
}

/*-------------------------------------------------Homes----------------------------------------------*/
.homes {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  gap: 20px 20px;
  padding: 15px 125px 15px  125px;
}

.loginWrapper {
  height: auto;
  max-width: 425px;
  padding: 15px;
  background-color:#1b651b;
  color: white;
  border: 2px solid;
  border-radius: 8px;
}

.loginTop, 
.loginBot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: column;
  align-items: center;
  justify-content: space-around;
}

.genericInput {
  display: flex;
  justify-content:space-between;
}

.centerContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/WebPhoto/Background3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #878181;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 70px;
}

.dashboardCopy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/WebPhoto/Background3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #878181;
}

.infoCard {
  max-height: 600px;
  height: 100%;
  max-width: 800px;
  width: 100%;
  border-radius: 8px;
}

.infoCardPhoto {
  float: left;
  width:  450px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.infoCardTitle {
  font-size: 48px;
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: center;
}

.infoCardFooter {
  text-align: center;
  font-size: 36px;
  color: white;
}

.projectUpdate {
  background-color: #f1f1f1;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  border-radius: 10px;
  text-align:left;
  margin: 0;
  display: grid;
  justify-content: center;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}

.currentProjectList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 20px ;
}

.galleryPhotoList {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px 30px;
}

.currentProjectLabel {
  font-size: 24px;
}

.currentProject {
  padding: 15px;
}
/*-------------------------------------------------Search----------------------------------------------*/
.searchComponent {
  padding: 15px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  background-color: #f1f1f1;
}

.searchTop {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 5px;
  gap: 5px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

.searchBar {
  align-items: center;
  display: flex;
  flex: 9;
  width: 80%;
}

.searchKey {
  flex: 1;
}

.searchAdv {
  flex: 1;
  display: grid;
  gap: 10px 10px;
  padding: 5px;
  border: 2px solid;
  border-radius: 8px;
  background-color: white;
}

.searchBot {
  width: 100%;
  padding: 5px;
}

.searchList {
  min-height: 100vh;
  height: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  border-radius: 8px;
}

.projectUpdateList {
  height: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 10px;
  grid-row-gap: 30px;
  justify-content: center;
  border-radius: 8px;
}

.searchItem {
  max-height: 350px;
  max-width: 550px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  text-align:left;
  margin: 0;
  font-size: 24px;
}

.searchImg {
  width: 128px;
  height: 128px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.searchHiringList {
  height: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 50px;
  grid-row-gap: 15px;
  justify-content: center;
  border-radius: 8px;
}

.searchHiring {
  height: auto;
  width: auto;
  max-height: 450px;
  max-width: 700px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align:left;
  margin: 0;
  font-weight: normal;
  margin: 0px;
}

.hiringImg {
  max-width: 300px;
  max-height: 125px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 10px;
}

.searchHiringTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 24px;
}

.searchHiringTop img {
  min-height: 150px;
  width: 100%;
}

.searchHiringBot {
  padding: 10px;
  align-items: center;
  font-size: 20px;
}

.searchBox {
  height: 50px;
  width: 100%;
  min-width: 200px;
  border-radius: 4px;
}

.searchKeyBtn {
  height: 50px;
  width: 75px;
}

.searchAdvBtn {
  height: 50px;
  width: 120px;
}

.keyPicker {
  flex: 1;
  position: absolute;
  width: 200px;
  top: 10;
  right: 0;
  left: 20;
}

.keyPicker2 {
  flex: 1;
  position: absolute;
  width: 200px;
  top: 35px;
  right: 5px;
}

.advanceSearch {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 5px;
  border: 2px solid;
  border-radius: 8px;
}

.searchAdvWrapper {
  padding: 5px;
  display: grid;
  gap: 20px 30px;
}

.searchAlign {
  display: flex;
}

.countBtn {
  min-width: 40px;
}

.advanceQuickSearch {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  background-color: white;
}

.quickLeft {
  padding: 10px;
  height: 100%;
  width: 100%;
  align-items: center;
}

.quickRight {
  height: 100%;
  width: 100%;
  padding: 5px;
  border: 3px solid;
  border-color: black;
}

.searchTabs {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 10px;
  height: auto;
}

.selectCategory {
  height: 35px;
  min-width: 100px;
  max-width: 100%;
}

.selectedCategory {
  padding: 5px;
  cursor: pointer;
  align-items: center;
}

.settingsCategoryTitle {
  font-size: 36px;
  text-align: center;
}

.selectedCategoryLabel {
  font-size: 24px;
}

.settingsCategory {
  border: solid 2px;
  border-radius: 8px;
  padding: 10px;
}

.settingsCategoryTop {
  display: flex;
}

.settingsCategoryBot {
  padding: 10px;
}

.tagLabel {
  border: 1px solid;
  border-color: cornflowerblue;
  border-radius: 8px;
  background-color: rgb(224, 222, 222);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedCategorySettings button {
  border: 1px solid;
  border-radius: 5px;
}

.confirmRemoveLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testing {
  position: relative;
}

.tagButton {
  min-height: 50px;
  min-width: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTag {
  display: flex;
}

.searchProfile {
  min-height: 100vh;
  height: 100%;
  padding: 15px;
  background-color: white;
}

.searchProfileTop {
  display: flex;
}

.searchProfileMidOptions{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:baseline;
}

.profileText {
  padding: 15px;
}

.searchBoxProfileTop {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0px;
  font-size: 16px;
}

.searchBoxProfileBot {
  padding: 10px;
  margin: 0px;
}

.p1 {
  font-size: 28px;
}

.p2 {
  font-size: 20px;
}

.pageNumber {
  display: flex;
  gap: 10px 10px;
  padding: 10px;
  justify-content: center;
}

/*-------------------------------------------------Profile----------------------------------------------*/
.searchProfile {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  display: grid;
  gap: 2px 5px;
}

.profileCard {
  height: auto;
  min-height: 100vh;
  width: 100%;
  max-width: 1500px;
  padding: 10px;
  background-color: #ffffff;
}

.editProfileForm {
  height: auto;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f1f1f1;
  text-align:left;
  margin: 0;
  display: grid;
  justify-content: center;
}

.profileCardMid,
.profileCardBot {
  width: 100%;
  max-width: 1500px;
}

.profile-ProfilePhotoWrapper {
  height: 260px;
  width: 260px;
  display: flex;
  justify-content:center;
  border-radius: 12px;
  padding: 5px;
  flex: 2;
  position: relative;
}

.profile-ProfilePhoto{
  height: 250px;
  width: 250px;
  border-radius: 12px;
}

.profileCardTop {
  min-height: 300px;
  width: 100%;
  max-width: 1500px;
  padding: 5px;
  background-color: cornflowerblue;
  display: flex;
  gap: 10px;
  border-radius: 8px;
}

.horizontal_line {
  background-color: black;
  width: 100%;
  height: 1px;
  border-top: 1px solid;
  line-height: 60%;
}

.actionButtonWrapper {
  display:grid;
  justify-content: space-around;
}

.profileCardText {
  width: 100%;
  padding: 15px;
}

.profileCardTextWrapper {
  background-color: white;
  border-radius: 8px;
  flex: 10;
  width: auto;
}

.profileCardName {
  font-size: 36px;
  padding: 10px;
  background-color: #1b651b;
  color: #ffffff;
  text-align: center;
}

.projectCardPhotoWrapper {
  flex: 4;
}

.projectCardTextWrapper {
  background-color: white;
  border-radius: 8px;
  flex: 8;
  width: 100%;
  padding: 15px;
}
/*-------------------------------------------------Gallery----------------------------------------------*/
.gallery {
  height: 100%;
  padding: 10px;
  width: 100%;
  max-width: 1500px;
  border-radius: 8px;
}

.galleryCard {
  display: grid;
  gap: 10px 10px;
  border: 1px solid;
  border-radius: 4px;
  width: auto;
}

.galleryPicTop {
  height: 250px;
  max-width: 100%;
  border-radius: 4px;
}

.galleryPicBot {
  padding: 10px;
}

.galleryBot {
  background-color: white;
}

.galleryPic {
  height: 100%;
  width: 100%;
}

.galleryForm {
  background-color: rgb(235, 235, 177);
}

.cancelBtn {
  background-color: crimson;
  color: white;
}

.toUpload {
  display: flex;
  justify-content: space-between;
}

.alert {
  background-color: crimson;
  font-size: 20px;
  max-height: 50px;
  display: flex;
  justify-content: center;
}

/*-------------------------------------------------Notifications----------------------------------------------*/
.notifications{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  background-color: #ffffff;
}

.projectUpdates {
  height: auto;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  background-color: #ffffff;
}

.notificationsTop,
.projectUpdatesTop {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  align-items: center;
}

.contentTitle label,
.galleryTopTitle label,
.reviews label,
.projectRequestFormTop label {
  font-size: 36px;
}

.notifList {
  display: grid;
  gap: 2px;
}

.notif {
  display: flex;
  min-height: 20px;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.employeeList {
  display: flex;
  min-height: 20px;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
}

.projectListCard:hover,
.employeeList:hover,
.notif:hover,
.tagButton:hover {
  background-color: rgb(245, 243, 243);
}

.notifTop {
  display: flex;
  flex: 10;
  gap: 10px;
}

.notifBot{
  display: flex;
  gap: 10px;
  flex: 2;
  justify-content: right;
}

.employeeListTop {
  display: flex;
  flex: 9;
  gap: 10px;
}

.employeeListBot{
  display: flex;
  gap: 10px;
  flex: 3;
  justify-content: right;
}

/*-------------------------------------------------Requests----------------------------------------------*/
.adminRequests {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  background-color: #ffffff;
}
/*-------------------------------------------------Register----------------------------------------------*/
.register {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  background-color:#ffffff;
}

.titleLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerLabel {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.centerButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerLabel label {
  padding: 5px;
  min-width: auto;
  white-space: nowrap;
}

.centerLabel input {
  width: 100%;
  max-width: 650px;
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
}

.inputGridTextBox {
  width: 100%;
  min-width: 300px;
}

.registerForm {
  height: auto;
  max-width: 100%;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  text-align:left;
  margin: 0;
  display: grid;
  gap: 20px;
}
/*-------------------------------------------------Projects List----------------------------------------------*/
.projectsList,
.accountsList {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  background-color: #ffffff;
  padding: 15px;
}

.reportsProjectsList {
  height: auto;
  width: 100%;
  max-width: 1500px;
  background-color: #ffffff;
  padding: 15px;
}

.projectListPhoto {
  max-height: 250px;
  height: 100%;
  width: 100%;
  max-width: 300px;
}

.projectListImage {
  max-height: 260px;
  height: 100%;
  max-width: 500px;
  width: 100%;
  border-radius: 8px;
}

.projectCardTopPhoto {
  height: auto;
  max-height: 500px;
  width: auto;
}

.projectCardTopPhoto img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.projectCard {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  background-color: #ffffff;
}

.projectCardTop {
  min-height: 300px;
  width: 100%;
  max-width: 1500px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
  gap: 10px;
  border-radius: 8px;
}

.projectCardTopDetails {
  width: auto;
  display: grid;
  justify-content: center;
}

.paragraphSpaceBetween {
  min-width: 500px;
  display: flex;
  justify-content: space-between;
}

.paragraphSpaceBetweenOthers {
  display: flex;
  justify-content: space-between;
}

.rightText {
  text-align: right;
}

.projectCardMid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.projectsBot {
  display: column;
  gap: 4px 5px;
}

.projectListCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 10px;
  cursor: pointer;
}

.projectListBot {
  flex: 8;
}

.projectUpdateContent {
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
  gap: 40px;
}


.projectUpdatePhoto {
  height: auto;
  width: auto;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.projectUpdatePhoto img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

.theUpdate {
  height: auto;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align:left;
  border: 1px solid;
  margin: 0;
}
/*-------------------------------------------------Reviews----------------------------------------------*/
.reviews {
  min-height: 100px;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  padding: 10px;
}

.reviewForm {
  height: auto;
  width: auto;
  max-width: 100%;
  padding: 15px;
  border-radius: 6px;
  background-color: #f1f1f1;
  margin: 0;
  display: grid;
  justify-content: center;
}

.reviewList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 10px 20px;
}

.eachReview {
  border: 1px solid;
  height: auto;
  min-width: 300px;
  max-width: 350px;
  border-radius: 8px;
  padding: 10px;
}

.eachReview img {
  width: 100%;
  max-height: fit-content;
}

.eachReviewImage {
  padding: 10px;
  max-height: 230px;
  max-width: 320px;
  border-radius: 5px;
}

.eachReviewImage img {
  height: 100%;
  width: 100%;
}
/*-------------------------------------------------Tables----------------------------------------------*/
table {
  white-space: nowrap;
}

th{
  background-color: #1b651b;
  color: #ffffff;
}

th, td {
  width: auto;
  padding: 5px;
  align-items: center;
}

.constantHW {
  min-width: 150px;
  max-width: auto;
  max-height: 70px;
  overflow: hidden;
}

.smallHW {
  min-width: 100px;
  max-width: auto;
  max-height: 70px;
  overflow: hidden;
}

tr:nth-child(even) {
  background-color: #b6dcb6;
}

.tableList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  overflow-x: auto;
}

.twoContent {
  display: flex;
  gap: 5px;
}

/*-------------------------------------------------Settings----------------------------------------------*/
.settings,
.reports,
.dashBoard,
.bugReports {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
}

.settings,
.reports,
.bugReports {
  background-color: #ffffff;
}

.settingsForm {
  height: auto;
  width: 100%;
  max-width: 1500px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align:left;
  margin: 0;
  display: grid;
  justify-content: center;
}

/*-------------------------------------------------Reports----------------------------------------------*/
.reports {
  align-items: center;
}

.reportsTop {
  padding: 15px;
  min-width: 500px;
  height: auto;
  border: solid 1px;
  border-radius: 5px;
}

.requests-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 25px 50px;
}

.reportContent {
  padding: 15px;
  min-width: 250px;
  height: auto;
  border: solid 1px;
  border-radius: 5px;
  display: grid;
  gap: 10px;
  justify-content: center;
}

.reportContentTop {
  max-height: 100px;
  width: 100%;
}

.reportContent label {
  height: auto;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  background-color: #3a5938;
  color: #ffffff;
}

.pieChartFiller {
  background-color: grey;
  min-height: 200px;
  min-width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.annual-report-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
  gap: 15px 25px;
}

.reportContentBar {
  padding: 15px;
  min-width: 700px;
  border: solid 2px;
  border-radius: 5px;
}

/*-------------------------------------------------DashBoard----------------------------------------------*/
.dashBoard {
  justify-content:space-around;
}

.location {
  width: 100%;
  border: 0;
  border-radius: 2px;
  position: relative;
}

.dataResult {
  margin-top: 5px;
  width: 100%;
  max-width: 400px;
  min-height: 70px;
  max-height: 280px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 5px;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 5px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

.centerLocation {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 20px;
  align-items: center;
}

.webIcons {
  height: 44px;
  width: 125px;
  margin: 0px;
}

/*-------------------------------------------------ProgressBar----------------------------------------------*/
:root {
  --primary-color: #ff9400;;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.progressbar {
  padding: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 18px;
  color: #666;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

.explanationContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/*-------------------------------------------------NavButtons----------------------------------------------*/
.actionButton {
  min-width: 200px;
  min-height: 40px;
}

.toPrint {
  padding: 20px;
}

/*-------------------------------------------------End Contract Modal----------------------------------------------*/

.modalBackground {
  width: 100%;
  max-width: 1500px;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  max-width: 500px;
  max-height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  font-size: 28px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  max-height: 20px;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cancelBtn {
  background-color: crimson;
}

.notAvailable {
  max-width: 200px;
  text-align: center;
  padding: 10px;
}

/*---------------------------------------------Company Profile---------------------------------------------*/
.companyProfile {
  padding: 20px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1500px;
  background-color: #ffffff;
}

.companyProfileContent {
  display: grid;
}

.companyProfileTop {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  border-radius: 12px;
  padding: 5px;
  position: relative;
  background-color: #1b651b;
  color: #ffffff;
}

.companyLogo {
  height: auto;
  width: auto;
  max-height: 250px;
  max-width: 250px;
  border-radius: 8px;
}

.companyProfileMid,
.companyProfileBot {
  padding-right: 40px;
  padding-left: 40px;
}

.fromTextAreaContainer {
  padding-right: 20px;
  padding-left: 20px;
}

.fromTextArea {
  white-space: pre-line;
}

.editCompanyProfileForm {
  height: auto;
  width: auto;
  max-width: 1500px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0;
}